.catalog-categories{
    width: 39%;
    margin: 0 auto;
    
}


.catalog nav > li {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog nav li{
}


