

body{
    box-sizing: border-box;
    margin:0;
    font-family: "Helvetica", sans-serif;
    background: #383838;
    text-align: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
