.nav-update{
    margin: 40px auto;
    font-family: 'Chango', cursive;
    color: #D17B1D;
}


.nav-update form {
    display: grid;
    width: 23%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #D17B1D;
    margin: 40px auto;
}


.nav-update input[type=submit]{
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    margin-top: 12px;
}

.nav-update a{
    text-decoration: none;
    color:ivory;
  }
  

.update-description{
    font-size: 22px;
    line-height: 2;
}

.nav-update form label{
    font-size: 28px;
}
