.forgotPass{
    margin: 40px auto;
    font-family: 'Chango', cursive;
    color: #0a9be9;
}

.forgotPass h1{
    font-size: 40px;
}

.forgotPass p{
    font-size: 25px;
}

.forgotPass label{
    color: #0a9be9; 
}

.forgotPass form>input[type=submit]{
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    top: 30%;
}


form > input[type=submit]:active{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
}

.try-again{
    font-size: 20px;
    text-decoration: none;
    color: ivory;
    margin-top: 10px;
}

.forgotPass input:focus{
    border: 5px solid #0a9be9 ;
}