.nav-login{
    margin: 40px auto;
    font-family: 'Chango', cursive;
    color: #FEC940;
}


.nav-login a{
  text-decoration: none;
  color:ivory;
}



form {
    display: grid;
    width: 25%;
    margin: 10px auto;
    text-align: center;
    color: white;
    
  }


form > input[type=submit]:nth-child(5){
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    top: 30%;
  }


  .nav-login input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  
form > input[type=submit]:nth-child(5):active{
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
}

.nav-login form input:focus{
  border: 5px solid #FEC940 ;
}

.nav-login form label {
    color: #FEC940;
    margin-bottom: 4px;
    font-size: 28px;
}

form > label:nth-child(3){
    margin-top: 10px;
    text-align: center;
  }
 

.signup-link{
  margin-top: 25px;
}

.nav-login i {
  margin-top: 20px;
  font-size: 50px;
  color: #F50;
}

.forgotPass{
  margin-top: 10px;    
}