.nav-login{
    margin: 40px auto;
    font-family: 'Chango', cursive;
    color: #CB3F3F;
}

form {
    display: grid;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bold;
   
  }


form > input[type=submit]:nth-child(5){
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    top: 30%;
  }

form > label:nth-child(3){
    margin-top: 10px;
    text-align: center;
  }
 

form > input[type=submit]:nth-child(5):active{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  }