.shopping-cart{
  margin: 40px auto;
  font-family: 'Chango', cursive;
  color: #FEC940; 
}

.no-items{
  display: inline-block;
  text-align: center;
}

.no-items-img {
    border-radius: 100px;
    opacity: 60%;
}

.shopping-cart-items{
    font-size: 30px;
}

.shopping-cart-total{
    color: wheat;
    float: right;
    margin-right: 20px;
}

.checkout-btn{
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  border-radius:6px;
	border:1px solid #ffaa22;
  cursor:pointer;
  font-size: 20px;
  padding: 5px 8px;
  text-decoration: none;

}


.checkout-btn:active {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}