footer{
    display: flex;
    justify-content: space-between;
    background: #CB3F3F;
    color: #482600;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

footer a{
    text-decoration: none;
    color: white;
}

.site-version{
    color: white;
}