.details{
    font-family: 'Chango', cursive;
    color: #dbf6e9;
}

.details-wrapper a{
    text-decoration: none;
    color: ivory;
}


.details h3{
    font-size: 40px;
}

.details img{
    width: 600px;
    height: 800px;
}

.details-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.details-tabs{
    display: flex;

}

.details-tabs-el{
   width: 600px;
}

.description{
    border-right: 1px solid black;
    
}   

.details button{
    margin: 20px auto;
}
kground-color:#ffab23;


.details i{
    margin-left: 5px;
}