.feedback{
    font-family: 'Chango', cursive;
    color: ivory;
}

.feedback legend{
    color: #CB3F3F;
}

.feedback img{
    border-radius: 3%;
    opacity: 80%;
}

.feedback p{
    font-size: 25px;
}

.feedback  input {
    font-size: 20px;
}

.feedback form > input[type=submit]{
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

    
  }
