
/*Header modifiers*/

header{
    border-bottom: 15px solid #E89F16;
    text-align: center;
  }
  
  .header-title{
    position: relative;
    font-family: "M PLUS 1p", sans-serif;
    background: #FEC940;
    color: grey;
    margin:auto;
    font-size: 40px;  
    text-shadow: 1px 1px #FDFCF4;
  }
  
  
  .header-title:hover{
    text-shadow: 2px 2px #ff0000;
    cursor:grab;
  }
  

  
  /*Navigation styling */
  
  nav{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  
  
  nav ul{
    display: flex;
    margin-right: 20px;
  }
  
  nav ul li{
    
    list-style: none;
    padding: 12px;
    margin: 0 10px;
    opacity: 60%;
  
  }
  
  nav ul li:hover{
    background: #E89F16;
    opacity: 100%;
  }
  
  nav ul li a{
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-decoration: none;
    color: #ECECEC;
    
  }
  

  nav ul li a:active{
    opacity: 40%;
  }
  