.about{
  display: flex;
  justify-content: space-between;
  font-family: 'Pangolin', cursive;
  color: #CB3F3F;
  
}

.about a{
    text-decoration: none;
    color:inherit;
}

.about p a{
 text-decoration: none;
 color:ivory;
}

.about h1{
    font-size: 40px;
}

.about h1:hover{
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}


.about p {
    font-size: 25px;
 
}

.about img{
    margin: 10px auto;
    opacity: 60%;
    border-radius: 50%;
}

.about img:hover{
  opacity: 100%;
}

.about img:active{
    opacity:80%;
  }

.about button{
    position: relative;
    float: right;
    margin-right: 10px;
}



